<switch>
	silent_logging = 0
	simple_logging = 0
	debug_log = 0
</switch>

<path>
	working_folder = /srv/bilder/imagelol
	log_folder = $working_folder/logs
	temp_folder = $working_folder/temp
	logfile_prefix = imagelol
	import_folder = /srv/bilder/import
	original_folder = /srv/bilder/arkiv/original
	preview_folder = /srv/bilder/arkiv/preview
</path>

<div>
	imagelol_uid = jocke
	imagelol_gid = bilder
	image_filenames = cr2|jpg|jpeg
	raw_image = cr2
	default_category = 6D
</div>

<image>
	medium_width = 1024
	medium_height = 768
</image>

<binaries>
	chown = /bin/chown
	chmod = /bin/chmod
	cp = /bin/cp
	scp = /usr/bin/scp
	mkdir = /bin/mkdir
	rm = /bin/rm
	hostname = /bin/hostname
	who = /usr/bin/who
	touch = /bin/touch
	grep = /bin/grep
	echo = /bin/echo
	convert = /usr/bin/convert
	exiftool = /usr/bin/exiftool
</binaries>