<switch>
	silent_logging = 0
	simple_logging = 0
	debug_log = 0
</switch>

<path>
	working_folder = /srv/bilder/imagelol
	log_folder = $working_folder/logs
	temp_folder = $working_folder/temp
	logfile_prefix = imagelol
	import_folder = /srv/bilder/import
	archive_folder = /srv/bilder/arkiv/6D
</path>

<div>
	imagelol_uid = jocke
	imagelol_gid = bilder
	image_filenames = CR2|jpg|jpeg
</div>

<regex>
</regex>

<binaries>
	chown = /bin/chown
	chmod = /bin/chmod
	cp = /bin/cp
	scp = /usr/bin/scp
	mkdir = /bin/mkdir
	rm = /bin/rm
	hostname = /bin/hostname
	who = /usr/bin/who
	touch = /bin/touch
	grep = /bin/grep
	echo = /bin/echo
</binaries>